* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #f8fafc;
    line-height: 1.6;
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #0f172a;
    padding: 20px 8%;
    border-bottom: 1px solid #334155;
}

nav h2 {
    display: inline;
    margin-right: 40px;
}

nav a {
    color: #cbd5e1;
    text-decoration: none;
    margin: 0 12px;
}

nav a:hover {
    color: white;
}

/* Hero */
.hero,
header {
    text-align: center;
    padding: 120px 20px;
    background: #1e293b;
}

header h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

header p {
    font-size: 20px;
    color: #cbd5e1;
}

/* Sections */
section {
    max-width: 900px;
    margin: auto;
    padding: 80px 25px;
}

section h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

/* Skills */
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

li {
    background: #1e293b;
    padding: 10px 18px;
    border-radius: 20px;
    border: 1px solid #475569;
}

/* Projects */
article {
    background: #1e293b;
    padding: 25px;
    margin: 20px 0;
    border-radius: 12px;
    border: 1px solid #334155;
}

article h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

article p {
    color: #cbd5e1;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px;
    border-top: 1px solid #334155;
    color: #94a3b8;
}

/* Mobile */
@media (max-width: 600px) {

    nav {
        text-align: center;
    }

    nav h2 {
        display: block;
        margin-bottom: 15px;
    }

    nav a {
        margin: 5px;
    }

    header h1 {
        font-size: 38px;
    }

    section {
        padding: 60px 20px;
    }
}